#about{
    padding: 0px 200px 0px 200px;
    .head{
        margin: 40px 0px 40px 0px;
        cursor: pointer;
        

    }
    .our-story{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
   
        .our-txt{
            display: flex;
            flex-direction: column;
            
            h1{
                font-size: 55px;
                margin-bottom: 50px;
            }
            p{
                width: 600px;
                font-weight: 500;
            }
            p:nth-of-type(1){
                margin-bottom: 40px;
            }
        }
        img{
            height: 600px;
            box-sizing: border-box;
            width: 800px;
        }
    


    }
    .about-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 100px 0px 100px 0px;
        .about-card{
            gap: 10px;
            cursor: pointer;
            width: 320px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid rgba(128, 128, 128, 0.226);
            transition: 300ms;
            &:hover{
                background-color: #db4444;
                .logo{
                    border: 10px solid #db444467;
                    color: black;
                    background-color: white;
                    
                }
                h3{
                    color: white;
                }
                p{
                    color: white;
                }

            }
            .logo{
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: black;
                border: 10px solid grey;
                border-radius: 100%;
                font-size: 22px;
                transition: 300ms;
            }
            h3{
                font-size: 25px;
                transition: 300ms;
            }
            p{
                font-weight: 500;
                transition: 300ms;
            }

        }
    }
    .persons{
        display: flex;
        align-content: center;
        justify-content: space-between;
        .person{
            display: flex;
            flex-direction: column;
          
            justify-content: center;
            gap: 10px;
            .image{
                background-color: rgb(243, 243, 243);
                width: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 500px;
                }
            }
        
            .logos{
             
                display: flex;
                gap: 10px;
                i:hover{
                    color: #db4444;
                    cursor: pointer;
                }
          
            }
          

        }

    }

}