.card {
    display: flex !important;
    align-items: start;
    justify-self: start;
    flex-direction: column;
    position: relative;
    border-right: 1px solid rgba(128, 128, 128, 0.466);





    .card-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        &:hover>.hover {
            padding: 10px 0px 10px 0px;
            height: 40px;
        }

        .thumbnail {
            height: 200px;
        }

        .fa-heart {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 18px;
            opacity: 0.5;
            transition: 200ms;

            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        .fa-eye {
            position: absolute;
            top: 40px;
            right: 14px;
            font-size: 18px;
            opacity: 0.5;
            transition: 200ms;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        .hover {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.699);
            color: white;
            text-align: center;
            transition: 200ms;
            position: absolute;
            bottom: 0;
            cursor: pointer;

            height: 0px;
            overflow: hidden;

            &:hover {
                background-color: black;
            }


        }

    }

    .price {
        display: flex;
        width: 100%;

        gap: 30px;

        .new-price {
            color: #db4444;
            font-weight: bold;
        }

        .old-price {
            text-decoration: line-through;
            color: grey;
            font-weight: bold;

        }


    }

    .discount {
        width: 50px;
        height: 20px;
        background-color: #db4444;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    .review {
        i:nth-of-type(1) {

            color: #FFAD33;
        }

        i:nth-of-type(2) {
            color: #FFAD33;
        }

        i:nth-of-type(3) {
            color: #FFAD33;
        }

        i:nth-of-type(4) {
            color: #FFAD33;
        }


    }

}


